<% provide(:title, 'Editing car') %>
<% provide(:head_quote, 'Editing specific car') %> 
    <td colspan="2" rowspan="2" align="left" valign="top">
    	<p class="style24">
    		You are here 
    		<%= link_to "Edit Car",    '#' %>.
    		</p>
    		<% if signed_in? %>
      <h1>Editing car</h1>

<%= render 'form' %>

<%= link_to 'Show', @car %> |
<%= link_to 'Back', cars_path %>
<% else %>
please  <%= link_to "Sign In",    signin_path %> or <%= link_to "Register",    register_path %>
 <% end %>
</td>
  </tr>
 
