<% provide(:title, 'All Cars') %>
<% provide(:head_quote, 'All Avaliable car') %> 
    <td colspan="2" rowspan="2" align="left" valign="top">
    	<p class="style24">
    		You are here 
    		<%= link_to "All cars",    '#' %>.
    		</p>

<%= search_form_for @search do |f| %>
<h2>Static filters</h2>
  <div class="field">
    <%= f.label :carmodel_cont, "Car Model" %><br/>
    <%= f.text_field :carmodel_cont %>
  </div>
  <div class="field">
  	
    <%= f.label :price_gteq, "Price between"%><br/>
    <%= f.text_field :price_gteq %>
    <%= f.label :price_lteq, "* and *" %>
    <%= f.text_field :price_lteq %>    
  </div>
  <h2>Dynamic filters</h2>
  <%= f.condition_fields do |c| %>
  <div class="field">
    <%= c.attribute_fields do |a| %>
      

<%= a.attribute_select associations: [:user] %>

    <% end %>
    <%= c.predicate_select %>
    <%= c.value_fields do |v| %>
      <%= v.text_field :value %>
    <% end %>
    </div>
  <% end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


<table bgcolor="00CCEE" border="4px">
  <tr>
    <th><%= sort_link(@search, :carmodel, "Car Model") %></th>
    <th><%= sort_link(@search, :price, "Price") %></th>
    <th><%= sort_link(@search, :myear, "Manufacture Year") %></th>
    <th><%= sort_link(@search, :uyear, "Used Year") %></th>
    <th><%= sort_link(@search, :cartype, "Car Type") %></th>
    <th><%= sort_link(@search, :user_id, "User ID") %></th>
    <th colspan="3"> More Info</th>
   
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.carmodel %></td>
    <td><%= car.price %></td>
    <td><%= car.myear %></td>
    <td><%= car.uyear %></td>
    <td><%= car.cartype %></td>
    <td><%= car.user_id %></td>
    <td><%= link_to 'Show', car %></td>
    <td><% if signed_in? %><%= link_to 'Edit', edit_car_path(car) %> <% end %> </td>
    <td><% if signed_in? %><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
  </tr>

<% end %>
</table>

<br />
<% if signed_in? %>
<%= link_to 'New Car', new_car_path %>
<% else %>
please  <%= link_to "Sign In",    signin_path %> or <%= link_to "Register",    register_path %>
 <% end %>
</td>
  </tr>