<% provide(:title, 'Specific Car') %>
<% provide(:head_quote, 'Details About Car') %> 
    <td colspan="2" rowspan="2" align="left" valign="top">
    	<p class="style24">
    		You are here 
    		<%= link_to "specific car",    '#' %>.
    		</p>
    <% if signed_in? %>
     <p id="notice"><%= notice %></p>

<p>
  <b>Carmodel:</b>
  <%= @car.carmodel %>
</p>

<p>
  <b>Price:</b>
  <%= @car.price %>
</p>

<p>
  <b>Myear:</b>
  <%= @car.myear %>
</p>

<p>
  <b>Uyear:</b>
  <%= @car.uyear %>
</p>

<p>
  <b>Cartype:</b>
  <%= @car.cartype %>
</p>

<p>
  <b>User:</b>
  <%= @car.user_id %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
<% else %>
please  <%= link_to "Sign In",    signin_path %> or <%= link_to "Register",    register_path %>
 <% end %>
</td>
  </tr>
 
